<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:insert="fragments/bootstrap_css :: link">

    <title>Lista de Estudiantes</title>
</head>
<body>
    <header th:insert="fragments/nav :: header"></header>

    <section class="container mt-5">
        <h1 class="mb-4" ></h1>
        <form >
            <div class="mb-3">
                <label for="name" class="form-label">Nombre</label>
                <input type="text" id="name" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="surname" class="form-label">Apellido</label>
                <input type="text" id="surname" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Correo</label>
                <input type="email" id="email" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="birth" class="form-label">Fecha de Nacimiento</label>
                <input type="date" id="birth" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
        <a href="#" class="btn btn-secondary mt-3">Volver</a>
    </section>

    <section class="container mt-5">
        <h1 class="mb-4">Lista de Estudiantes</h1>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Email</th>
                <th>Nacimiento</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="student : ${estudiantes}">
                <td th:text="${student.id}">1</td>
                <td th:text="${student.name}">Nombre</td>
                <td th:text="${student.surname}">Apellido</td>
                <td th:text="${student.email}">email@example.com</td>
                <td th:text="${student.birth}">Nacimiento</td>
            </tr>
            </tbody>
        </table>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-wCzDQ3tjrKK5/7Izb5owQuzzYIBp1U+q9TPK1cxO+YXFxHp7E16uYyKCBi2gW/T2" crossorigin="anonymous"></script>
</body>
</html>
