html, body {
    overflow: auto;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;     /* Firefox */
}

html::-webkit-scrollbar, body::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}

.hero_img {
    max-height: 5rem;
}